<form name="config">
  <fieldset>
    <legend>Field Properties</legend>
    <div class="form-group">
      <label>Field Name *</label>
      <input type="text" class="form-control" name="fieldname" placeholder="Field Name" required>
    </div>
  </fieldset>
  <hr>
  <fieldset>
    <legend>Field Validation</legend>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="required"> is required
      </label>
    </div>
  </fieldset>
  <hr>
  <fieldset>
    <legend>Field Appearance</legend>
    <div class="form-group">
      <label>Field Label *</label>
      <input type="text" class="form-control" name="textlabel" required>
    </div>
  </fieldset>
</form>
